<h1>Planetary Systems</h1>
<%= link_to "Sort Systems by Number of Planets", order: "num_of_planets", show_num: "true" %><br><br>

<%= form_with url: "/planetary_systems", method: :get do |form| %>
  <%= form.label :query, "Enter Keyword" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %><br>

<% @planetary_systems.each do |system| %>
  <ul>
    <li><strong><%= system.name %></strong> Created at: <%= system.created_at %> 
    <%= link_to("Edit #{system.name}", "/planetary_systems/#{system.id}/edit") %> ==
    <%= link_to("Delete #{system.name}", "planetary_systems/#{system.id}", method: :delete) %>

    <% if @show_the_number == "true" %>
      <%= "#{system.name} Number of Planets: #{system.system_planet_count}"%>
    <% end %>
    
    </li>
  </ul>
<% end %><br>

<%= link_to('New Planetary System', '/planetary_systems/new') %>