<h1>Planetary Systems</h1>
<%= link_to "Sort Systems by Number of Planets", order: "num_of_planets" %>

<% @planetary_systems.each do |system| %>
  <ul>
    <li><strong><%= system.name %></strong> Created at: <%= system.created_at %> 
    <%= link_to("Edit #{system.name}", "/planetary_systems/#{system.id}/edit") %> ==
    <%= link_to("Delete #{system.name}", "planetary_systems/#{system.id}", method: :delete) %>
    
    </li>
  </ul>
<% end %><br>

<%= link_to('New Planetary System', '/planetary_systems/new') %>