<h1><strong><%= @planetary_system.name %></strong></h1>

<p1> Planet ID: <%= @id %></p1><br>
<p1> Light Years From Earth: <%= @light_years_from_earth %></p1><br>
<p1> Star Age: <%= @star_age %></p1><br>
<p1> Metal Rich Star?: <%= @metal_rich_star %></p1>
