<h1><strong><%= @planetary_system.name %></strong></h1> 
<p1>Current Number of Planets: <%= @planet_count %></p1><br>

<p1> Planet ID: <%= @id %></p1><br>
<p1> Light Years From Earth: <%= @light_years_from_earth %></p1><br>
<p1> Star Age: <%= @star_age %></p1><br> 
<p1> Metal Rich Star?: <%= @metal_rich_star %></p1>
<br>
<br>

<p1><strong><%= link_to("#{@planetary_system.name} Planets", "/planetary_systems/#{@planetary_system.id}/planets") %></strong></p1>

<%= link_to("Update Planetary Systems", "/planetary_systems/#{@planetary_system.id}/edit") %>
<%= link_to("Delete #{@planetary_system.name}", "/planetary_systems/#{@planetary_system.id}", method: :delete) %>