<h1>Planetary System: <%= @planetary_system.name %></h1>

<% @planets_in_system.each do |planet| %>
  <h4><%= planet.name %> 
    <span style="font-weight:normal"><%= link_to("Update #{planet.name}", "/planets/#{planet.id}/edit")%>
     <span style="font-weight:normal"><%=link_to("Delete #{planet.name}", "/planets/#{planet.id}", method: :delete)%>
  </h4>
  <p>Planet Type: <%= planet.planet_type %></p>
  <p>Year Discovered: <%= planet.year_discovered %></p>
  <p>Confirmed?: <%= planet.confirmed %></p>
  <p>Planetary System: <%= @planetary_system.name%></p>
<% end %>

<%= form_with url: "/planetary_systems/#{@planetary_system.id}/planets", method: :get, local: true do |form| %>
  <%= form.label "Only show planets discovered after the year" %> 
  <%= form.number_field :order %>
  <%= form.submit "Submit" %>
<% end %>

<%= link_to("Create Planet", "/planetary_systems/#{@planetary_system.id}/planets/new") %>
<br>
<%= link_to("Sort Planets Alphabetically", order: "alphabetical") %>
