<h3>Create a New Planet</h3>
<%= form_with url: "/planetary_systems/#{@planetary_system.id}/planets", method: :post, local: true do |form| %>
  <div>
    <%= form.label :name, "Name" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :planet_type, "Planet Type" %>
    <%= form.text_field :planet_type %>
  </div> 
  <div>
    <%= form.label :year_discovered, "Year Discovered" %>
    <%= form.number_field :year_discovered %>
  </div>
  <div>
    <%#= form.label :confirmed, "Confirmed?" %>
    <%#= form.text_field :confirmed %> 
    <%= form.label :confirmed, "Confirmed?" %><br>
    <%= form.radio_button :confirmed, "true" %>
    <%= form.label :confirmed_true, "true" %>
    <%= form.radio_button :confirmed, "false" %>
    <%= form.label :confirmed_false, "false" %><br>
  </div>
  <div>
    <%= form.text_field :planetary_system_id, hidden: true, value: @planetary_system.try(:id) %>
  </div> 

  <%= form.submit "Create Planet" %>
<% end %>