<h1><strong>Planets</strong></h1>

<%= form_with url: "/planets", method: :get do |form| %>
  <%= form.label :query, "Enter Planet Name" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>

<% @planets.each do |planet| %>
  <h4><%= planet.name %> 
    <span style="font-weight:normal"><%= link_to("Update #{planet.name}", "/planets/#{planet.id}/edit")%>
    <span style="font-weight:normal"><%=link_to("Delete #{planet.name}", "/planets/#{planet.id}", method: :delete)%>
  </h4>
  <ul>
    <li>Planet Type: <%= planet.planet_type %></li>
    <li>Year Discovered: <%= planet.year_discovered %></li>
    <li>Confirmed?: <%= planet.confirmed %></li>
    <li>Planetary System: <%= planet.planetary_system.name%></li>
  </ul>
<% end %>