<h1><%= @planet.name %></h1>

<p>Planet Type: <%= @planet.planet_type %></p>
<p>Year Discovered: <%= @planet.year_discovered %></p>
<p>Confirmed?: <%= @planet.confirmed %></p>
<p>Planetary System: <%= @planet.planetary_system.name%></p>